.header{
    display: flex;
    flex-direction: column;
    background-color: var(--background2-color);
}
.nav{
    width: 100%;
    height: 150px;
}
.menu_item {
    color: var(--text-color);
    font-weight: 500;
    &:hover {
        color: var(--hover-color);
    }
}
.header__phone{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
.header__phone_number{
  display: flex;
  flex-direction: column;
}
.header_btn{
    font-size: 18px;
}

.header__question{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__icon{
    color: var(--auxiliary-color);
}
.header__link{
  color: var(--auxiliary-color);
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  &:hover{
    color: var(--hover-color);
  }
}


.header__products{
  height: 70px;
  background-color: #d30e00;
}
.header__products_conteiner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__products_button{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 100%;
    color: var(--third-color);
}
.header__products_button button{
    background-color: transparent;
    border: 0;
    height: 100%;
    color: var(--third-color);
}
.header__products_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: var(--third-color);
    height: 100%;
    padding: 15px;
    flex-grow: 1;
    background-color: var(--auxiliary-color);
}

.header__products_input input{
    height: 100%;
    width: 100%;
    border: none;
    background-color: unset !important;
    color: var(--third-color) !important;
    outline: none;
}
.header__products_input input::placeholder {
  color: var(--third-color);
}

.basket__container{
  position: relative;
  display: inline-block;
}
.basket{
    font-size: 30px;
}
.basket__container span {
  position: absolute;
  top: -5px; 
  right: -10px; 
  color: var(--third-color); 
  font-size: 18px;
  background-color: green;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


@media only screen and (max-width: 600px) {
  .search-input {
    width: 50%;
  }
}
