$background1-color: #fff;
$background2-color: rgb(248, 249, 250);
$text-color: #000;
$auxiliary-color: rgb(218, 71, 64);
$hover-color: #ff6257;
$active-color: #c73830;
$third-color: #fff;
$text-font: "Roboto", sans-serif;
$title-font: "Play", sans-serif;
