.card {
  width: 18rem;
}

.card img {
  object-fit: cover;
  height: 150px;
}

.card__title {
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.products__card {
  transition: transform 0.4s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
